.site-head {
    width: 100%;
    min-height: 3rem;
}

.site-head > .row > .col {
    margin-top: 20px;
}

/* .categoty-item-container {
    padding: 10px;
    border-bottom: 2px solid #ccc;
    justify-content: center;
} */

/* @media only screen and (min-width: 1501px) {
    .categoty-item {
        padding: 2%;
    }
}

@media only screen and (max-width: 1500px) {
    .categoty-item {
        padding: 15px;
    }
}

@media only screen and (max-width: 1250px) {
    .categoty-item {
        padding: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .categoty-item {
        padding: 0px;
    }
} */

/* .categoty-item {
    
} */

.categoty-item>a>i {
    position: relative;
    top: 2px;
    font-size: 12px;
    color: #aaa;
}


.user-options .option-count {
    background-color: white;
    font-size: 10px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    position: relative;
    top: -80px;
    left: 20px;
}

.user-options {
    height: 60px;
}

.sidebar-options .option-count {
    background-color: white;
    font-size: 10px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 0px;
}

.user-options a {
    height: 100%;
}

.user-options .option-text {
    position: relative;
    width: 80% !important;
    top: -120px;
    font-size: 12px;
    left: 30px;
}


hr {
    border: none;
    border-bottom: 1px solid black;
    margin: 1rem;
}


/*****************************************************************/

nav {
    margin-bottom: 40px;
    padding-right: 5%;
    padding-left: 2%;
}

.sidenav {
    padding-top: 2rem;
}