<div class="site-head orange-yellow-crayola">

    <div class="row">
        <!-- Logo area -->
        <div class="col l1 offset-l1 m2 s4">
            LOGO
        </div>

        <!-- search box -->
        <div class="col l6 m6 hide-on-small-only">
            <app-search></app-search>
        </div>

        <div class="col l4 m4 s8 options">
            <div class="col s3">
                <a class="black-text" [routerLink]="['/wish-list']">
                    <i class="material-icons">favorite_border</i>
                    <span class="option-count">1</span>
                    <div class="option-text"> Wishlist</div>
                </a>
            </div>

            <div class="col s3">
                <a class="black-text" [routerLink]="['/cart']">
                    <i class="material-icons">shopping_cart</i>
                    <span class="option-count">1</span>
                    <div class="option-text"> My Cart</div>
                </a>
            </div>

            <div class="col s3">
                <a class="black-text" [routerLink]="['/my-account']">
                    <div class="row">
                        <i class="material-icons">person</i>
                        <div class="option-text"> My Account</div>
                    </div>
                </a>
            </div>
        </div>



        <!-- search box -->
        <div class="col s12 hide-on-med-and-up blue">
            <app-search></app-search>
        </div>

    </div>

    <!-- categoty row  -->
    <div class="row categoty-item-container hide-on-small-only">
        <div class="col l11 offset-l1">

            <span class="categoty-item">
                <a class="black-text" href="#">Electronics<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">TVs & Appliances<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Men<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Women<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Baby & kids<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Home & Furniture<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Sports, Books & More<i class="material-icons">keyboard_arrow_down</i>
                </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Flight<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

            <span class="categoty-item">
                <a class="black-text" href="#">Offer Zone<i class="material-icons">keyboard_arrow_down</i> </a>
            </span>

        </div>
    </div>

</div>