<div class="footer-container black">
    <div class="row">
        <div class="col l4 m12 s12">
            <img class="materialboxed" width="100%" src="https://image.freepik.com/free-photo/image-human-brain_99433-298.jpg" alt="" srcset="">
        </div>

        <div class="col l8 m12 s12">
            <div class="row">
                <div class="col m4 s12">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>QUICK LINKS</h5>
                        </li>
                        <li class="collection-item"><a href="#">My Account</a></li>
                        <li class="collection-item"><a href="#">Shop</a></li>
                        <li class="collection-item"><a href="#">Cart</a></li>
                        <li class="collection-item"><a href="#">Wishlist</a></li>
                    </ul>
                </div>
                
                <div class="col m4 s12">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>POLICY</h5>
                        </li>
                        <li class="collection-item"><a href="#">DMCA</a></li>
                        <li class="collection-item"><a href="#">Privacy Policy</a></li>
                        <li class="collection-item"><a href="#">Return Policy</a></li>
                        <li class="collection-item"><a href="#">Terms and Conditions</a></li>
                        <li class="collection-item"><a href="#">Non Returnable Product</a></li>
                        <li class="collection-item"><a href="#">Disclamer</a></li>
                    </ul>
                </div>

                <div class="col m4 s12">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>HELP</h5>
                        </li>
                        <li class="collection-item"><a href="#">Contact</a></li>
                        <li class="collection-item"><a href="#">Product Support</a></li>
                        <li class="collection-item"><a href="#">Lost Password</a></li>
                        <li class="collection-item"><a href="#">Customer Service</a></li>
                        <li class="collection-item"><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>