<div class="row">
    <div class="col s12">
        <h5 class="title">
            HP 15s Core i5 10th Gen - (8 GB/1 TB HDD/Windows 10 Home) 15s-DU1034TU Thin and Light Laptop  (15.6 inch, Natural Silver, 1.78 kg, With MS Office)
        </h5>
    </div>
    <div class="col s12">
        <app-product-ratting-view-full [ratting]="4.5" [numberOfRatting]="5000"></app-product-ratting-view-full>
    </div>
    <div class="col s12">
        In Stock: 300 Items
    </div>
    <div class="col s12 v-space"></div>
    <div class="col s12 description">
        Every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!
    </div>
</div>
