<div class="row" #root>
    <!-- main body -->
    <div class="col xl10 offset-xl1 l12 m12 s12">

        <div class="row">
            <div class="col xl4 l4 m12 s12">
                <app-product-image></app-product-image>
            </div>
            <div class="col xl6 l8 m12 s12">
                <app-product-details></app-product-details>
            </div>
        </div>

        <div class="row">
            <div class="col m10 offset-m1 s12">
                <ul class="tabs">
                    <li class="tab col xl2 l2 m2 s3"><a class="active" href="#description-full">Description</a></li>
                    <li class="tab col xl2 l2 m2 s3"><a href="#review">Review</a></li>
                </ul>
                <div id="description-full" class="col s12 tab-content">
                    Every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends
                    to a range of accessories including shoes, hats, belts and more!
                    <br> Every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention.
                    Now Fashion extends to a range of accessories including shoes, hats, belts and more!
                    <br> Every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention.
                    Now Fashion extends to a range of accessories including shoes, hats, belts and more!
                    <br> Every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention.
                    Now Fashion extends to a range of accessories including shoes, hats, belts and more!
                    <br>
                </div>
                <div id="review" class="col s12 tab-content">
                    Be the first to write your review !
                </div>
            </div>
        </div>

        <div class="v-space"></div>

        <div class="row">
            <div class="col s12">
                <div class="section-heading">
                    <h6><span>RELATED PRODUCTS</span></h6>
                </div>
            </div>
            <div class="col s12">
                <app-related-products></app-related-products>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <app-featture-group></app-featture-group>
            </div>
        </div>
    </div>
</div>