.price {
    font-size: 27px;
    font-weight: 500;
}

.price-old {
    position: relative;
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 18px;
    top: -1px;
}

.explanation {
    font-size: 15px;
    margin-left: 5px;
    position: relative;
    top: -2px;
}