<div class="product-container">
    <!-- orange-yellow-crayola lighten-4 -->

    <div class="row">
        <div class="col s4">
            <div class="product-img">
                <img src="/assets/img/headphone.png" alt="Headphone">
            </div>
        </div>
        <div class="col s8">
            <div class="row product-detail">
                <div class="col s12">
                    <h6>Product Description and Detailse</h6>
                </div>
            </div>
            <div class="row product-detail">
                <div class="col s12">
                    <p>Product very long and detail description Product very long and detail description Product very long and detail description</p>
                </div>
            </div>

            <div class="row product-detail">
                <div class="col l5 m5 s12">
                    <app-product-ratting-view [ratting]="4.7" [numberOfRatting]="5464" ></app-product-ratting-view>
                </div>
                <div class="col l7 m5 offset-m2 s8 offset-s4">
                    <div class="circle orange-yellow-crayola lighten-4 start-circle">07</div>
                    <div class="circle orange-yellow-crayola lighten-4">30</div>
                    <div class="circle orange-yellow-crayola lighten-4">00</div>
                </div>
            </div>
        </div>
    </div>

</div>
