.section-heading {
    border-bottom: 2px solid #274654;
}

.section-heading span {
    background-color: #274654;
    color: white;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}