<div class="banner-container">

    <div class="row">
        <div class="col s7 full-height valign-wrapper">
            <img class="materialboxed" src="assets/img/headphone.png" alt="Headphone">
        </div>

        <div class="col s5 full-height">
            <div class="row">
                <div class="col s12">
                    <h5>Categoty</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    All category items
                </div>
            </div>

        </div>

    </div>

</div>