<div class="row">
    <!-- main body -->
    <div class="col xl8 offset-xl2 l12 m12 s12">

        <!-- Banners -->
        <div class="row">
            <div class="col l4 m6 s12" *ngFor="let item of [1,1,1]">
                <app-banner-card-small></app-banner-card-small>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <app-banner-card-small-full-width></app-banner-card-small-full-width>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="section-heading">
                    <h6><span>DAILY DEAL</span></h6>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col l6 m12 s12" *ngFor="let item of [1,1]">
                <app-product-card3></app-product-card3>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="section-heading">
                    <h6><span>TRENDING ITEMS</span></h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col xl3 l3 m4 s6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
                <app-product-card1></app-product-card1>
            </div>
        </div>


        <!-- Banners -->
        <div class="row">
            <div class="col l5 m12 s12">
                <app-banner-card-medium></app-banner-card-medium>
            </div>

            <div class="col l7 m12 s12">
                <div class="row">
                    <div class="col l6 m6 s12" *ngFor="let item of [1,1,1,1]">
                        <app-banner-card-small></app-banner-card-small>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                <div class="section-heading">
                    <h6><span>NEW ITEMS</span></h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col xl3 l3 m4 s6" *ngFor="let item of [1,1,1,1,1,1,1,1]">
                <app-product-card1></app-product-card1>
            </div>
        </div>

        <div class="row">
            <div class="col l6 m12 s12" *ngFor="let item of [1,1]">
                <app-product-card2></app-product-card2>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <app-banner-card-small-full-width></app-banner-card-small-full-width>
            </div>
        </div>

        <div class="row">
            <div class="col l4" *ngFor="let item of ['FEATURES PRODUCTS','RECENT PRODUCTS','BEST SELLING']">
                <div class="section-heading">
                    <h6><span>{{item}}</span></h6>
                </div>
                <br>
                <div class="row" *ngFor="let item2 of [1,1,1]">
                    <div class="col s12">
                        <app-product-card4></app-product-card4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l6 m6 s12" *ngFor="let item of [1,1,1,1]">
                <app-banner-card-medium-small></app-banner-card-medium-small>
            </div>
        </div>

    </div>
</div>