<div class="row">
    <!-- main body -->
    <div class="col xl10 offset-xl1 l12 m12 s12">

        <div class="row">
            <div class="col l4">
                <ul class="collection with-header">
                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Dashboard
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">dashboard</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Orders
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">shopping_basket</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Address
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">home</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Payment Methods
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">credit_card</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Account Details
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">person</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Logout
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">exit_to_app</i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col l8 green">
                
            </div>
        </div>

        <div class="v-space"></div>


        <!-- feature group -->
        <app-featture-group></app-featture-group>
        
    </div>
</div>