<div class="row hide">
    <!-- main body -->
    <div class="col xl10 offset-xl1 l12 m12 s12">

        <div class="row">
            <div class="col l4">
                <ul class="collection with-header">
                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Dashboard
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">dashboard</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Orders
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">shopping_basket</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Address
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">home</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Payment Methods
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">credit_card</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Account Details
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">person</i>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="collection-item">
                        <a href="#">
                            <div class="grey-text text-darken-3">
                                Logout
                                <div class="secondary-content">
                                    <i class="material-icons grey-text text-darken-3">exit_to_app</i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col l8 green">

            </div>
        </div>


    </div>
</div>

<div class="row" #root>
    <!-- main body -->
    <div class="col xl10 offset-xl1 l12 m12 s12">

        <div class="row">
            <div class="col m10 offset-m1 s12">
                <ul class="tabs tabs-fixed-width ">
                    <li class="tab"><a class="active" href="#dashboard">Dashboard</a></li>
                    <li class="tab"><a href="#orders">Orders</a></li>
                    <li class="tab"><a href="#address">Address</a></li>
                    <li class="tab"><a href="#payment-methods">Payment Methods</a></li>
                    <li class="tab"><a href="#account-details">Account Details</a></li>
                </ul>
                <div id="dashboard" class="col s12">
                    <h5>Dashboard</h5>
                </div>
                <div id="orders" class="col s12">
                    <h5>Orders</h5>
                </div>
                <div id="address" class="col s12">
                    <h5>Address</h5>
                </div>
                <div id="payment-methods" class="col s12">
                    <h5>Payment Methods</h5>
                </div>
                <div id="account-details" class="col s12">
                    <h5>Account Details</h5>
                </div>

                <p>Demo site dose not have this contents</p>

            </div>
        </div>

        <div class="v-space"></div>


        <!-- feature group -->
        <app-featture-group></app-featture-group>
    </div>