<div class="wishlist-container">
    <div class="row">
        <div class="col l2 m3 s5 full-height valign-wrapper">
            <img class="materialboxed" src="/assets/img/watch.png" alt="Headphone">
        </div>
        <div class="col l9 m8 s5 product-detail">
            <h6 class="grey-text text-darken-2">Title of product</h6>
            <app-product-ratting-view [ratting]="3.7" [numberOfRatting]="8075" ></app-product-ratting-view>
            <br>
            <br>
            <app-price-component1 [salePrice]="500" [realPrice]="700" ></app-price-component1>
        </div>
        <div class="col l1 m1 s2 right-align delete-section">
            <i class="material-icons pointer">delete</i>
        </div>
    </div>
</div>

