<div class="row" #root>
  <div class="col s12">
    <div class="image-container">
      <div class="slider">
        <ul class="slides white">
          <li>
            <img src="/assets/img/watch.png">
          </li>
          <li>
            <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg">
          </li>
          <li>
            <img src="/assets/img/watch.png">
          </li>
          <li>
            <img src="https://elcopcbonline.com/photos/product/4/176/4.jpg">
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>