.search-container, .search-container-mobile {
    width: 100%;
    background-color: white;
    height: 36px;
    position: relative;
    top: 10px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.search-text {
    position: relative;
    top: -12px;
    /* border: 1px solid black; */
    border: none;
}

.search-text-mobile {
    border: none;
    width: 100%;
    position: relative;
    top: 5px;
    /* right: 80px; */
}

.btn-flat {
    position: relative;
    top: -15px;
    height: 34px;
}

.search-container-mobile  .btn-flat {
    height: 30px;
    position: relative;
    top: 4px;
    right: 10px;
}

.btn-flat > i {
    position: relative;
    top: -13px;
}