<div class="row hide-on-med-and-down">
    <div class="col s12">
        <div class="search-container">
            <input class="browser-default search-text" type="text" name="search" placeholder="Search">
            <button class="btn-flat grey-text"><i class="material-icons">search</i></button>
        </div>
    </div>
</div>

<div class="row hide-on-large-only">
    <div class="col s12">
        <div class="search-container-mobile">
            <div class="row">
                <div class="col m11 s10">
                    <input class="browser-default search-text-mobile" type="text" name="search" placeholder="Search">
                </div>
                <div class="col m1 s2">
                    <button class="btn-flat grey-text"><i class="material-icons">search</i></button>
                </div>
            </div>
        </div>
    </div>
</div>